Win32
x64
*.user
.vs
/*test
/bin*
/bmi*
/*.props
/*.c*
/*.gif
/include
/Demo-App/main - Kopie.cpp
/Demo-App/P2502.hpp
/Demo-App/net.ixx
/Demo-App/net.cpp
/Demo-App/P2168.hpp
/Demo-App/Step*.cpp
*.save
